html {
    background-color: var(--bg-light);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

:root {
    --primary: #003f5c;
    --secondary: #58508d;
    --bg-light: #ecf0f1;
}

body {
    margin: 0;
}

.github-badge svg {
    width: 30px;
    height: 30px;
    box-shadow: 3px 3px 4px 2px #52ce7d;
    z-index: 3;
    border-radius: 50%;
}

div.github-badge {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 6px;
    right: 6px;
}

.button-box {
    display: flex;
    flex-direction: row;
    background-color: cadetblue;
}

button,
#submit {
    background-color: var(--primary);
    color: white;
    font-size: medium;
    border-style: solid;
    border-width: 1px;
    border-color: var(--secondary);
    flex: 1;
    margin: 0px;
}

button.active,
button:active {
    background-color: #bc5090;
}

#game-area {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media screen and (max-width: 430px) {
    #game-area {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

#board-grid {
    position: relative;
    width: 305px;
    height: 305px;
    flex: 0 0 auto;
    margin-left: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#input-results {
    display: flex;
    flex-flow: column wrap;
    flex: 2 1 auto;
    width: 100%;
}

#input-results form {
    margin: auto auto;
}

#results-div {
    width: auto;
    flex: auto;
    max-height: 300px;
    margin: 8px 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

#results-div table {
    background-color: #f3d14b;
    width: 100%;
}

#results-div table th {
    background-color: #f3d14b;
}

#results-div table tr {
    background-color: #ecf0f1;
}

#chip {
    display: flex;
    position: absolute;
    height: 47px;
    width: 47px;
    background-color: #003f5c;
    border-radius: 50%;
    border-style: dotted;
    border-width: 1.5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: x-large;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px 4px 1px #58508d;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #52ce7d;
    border-style: solid;
    border-width: 2px;
    border-color: #219451;
}

.cell.track {
    border-style: solid solid solid double;
    border-left-width: 8px;
}

.split {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 24% auto;
}

.split2 {
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 59%;
}

.corner {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 24% 25%;
}

.corner2 {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 59% 59%;
}

.street {
    left: -22px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.six {
    left: -22px;
    top: 0;
    bottom: 0;
    margin: 24% auto;
}